<ion-header>
  <ion-toolbar>
    <ion-title>
      <a href="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
      explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="container" >
    <div class="grid-container" >
        <span *ngFor="let post of postDetails ; let i = index" [ngClass]="checkFormat(post.postUrl,i+1)" >
            <div class="post-container"  *ngIf="isImage(post.postUrl) && post.postUrl" >
              <ion-img src={{post.postUrl}}  ></ion-img>
              <div class="blur"></div>
              <div class="info">
                  <div class="like-section">
                      <p>	<ion-icon name="heart"></ion-icon></p>
                      <p id="likeCount">0</p>
                  </div>
                  <div class="comment-section">
                      <p><ion-icon name="chatbubbles"></ion-icon></p>
                      <p id="commentCount">0</p>
                  </div>
              </div>
          </div>

            <div class="post-container video-post"   *ngIf="!isImage(post.postUrl) && post.postUrl" >
              <video  preload="metadata" width="100%" height="100%">
                  <source src={{loadThumbnail(post.postUrl)}}  alt="post video" autoplay muted  controls >
              </video>
              <div class="blur"></div>
              <div class="info">
                  <div class="like-section">
                      <p>	<ion-icon name="heart"></ion-icon></p>
                      <p id="likeCount">0</p>
                  </div>
                  <div class="comment-section">
                      <p><ion-icon name="chatbubbles"></ion-icon></p>
                      <p id="commentCount">0</p>
                  </div>
              </div>
          </div>

    </span>
    </div>

    </div>

</ion-content>
