ion-content{
  --background:white; //#fff2df; //#dde4ee;;
}
ion-card{
  margin:3% 3%;
}
ion-card-header{
  padding:0.2rem 0.4rem 0.2rem 0;
  margin:0;
}
ion-card{
  border: none;
  //box-shadow: 0 1px 8px #b5c5e1;//rgba(0, 0, 0, 0.5);
  //border-bottom-color:rgb(255, 255, 255);
  //box-shadow: none;
  border-radius:8px;
  padding:0;
  ion-card-content{
    padding:0;
    --background:transparent;
    ion-item{
      --background:#ffffff;
    }
    ion-icon{
      color:#ff0040;
    }
    .clickable{
      transition: 1s;
      // transition: transform 0.25s ease;
    }
    .book{
      margin-left:-1rem;
      color:#636363;
    }
    .comment{
       color:cornflowerblue;
    }
    video{
      object-fit: contain;
    }
    img{
      width:100%;
      height:100%;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
      //border-radius:15px;
      object-fit: cover;
    }
    .userId{
      font-weight:600;
      color:rgb(86, 86, 86);
      font-size: 100%;//15px;
    }
    .like,.comment{
      padding: 0%;
    }
    .likesCount,.commentsCount{
      padding:0;
      margin-left:0.1rem;
      font-size:small;
    }

  }
}
ion-card-header{
  border-bottom:1px solid lightgrey;
}

