ion-item .commentCard{
   margin:1% 0%;
   padding:1% 0%;
  // padding:4% 1% 4% 0%;
  // border-radius: 10px;
  border:none !important;
  box-shadow: none;

 // border-bottom: rgb(205, 205, 205);

}
.follow,.following{
  --border:none;
  box-shadow: none;
  --background-color:black;//#007bac;
  text-decoration: none;
}
.userId{
  // color:#007bac;//white;
  margin-top:4px;
  //font-weight: 600;
}
.text{
  font-weight:500;
  color:#949494;//rgb(200, 200, 200);
}
.like{
  color:#ff0040;//rgb(157, 0, 0);
}
.commentarea{
  padding:0% 2% !important;
  --background:rgb(235, 235, 235);
  border-radius:10px;
  object-fit: cover;
}
.sticky{
  padding:2% 0%;
  }
ion-input{
  margin:2%;
}
.comment{
  padding:2%;
  font-size:18px;
}
.follow,.following{
  --background:#007bac;
  text-transform: none;
  border:none;
  box-shadow:none;
}
.following{
  --background:tomato;
}
